/* corpo da pagina */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333333;
}
/* sacola */
.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    position: absolute;
    bottom: 20px;
    right: 0;
}
/* header */
header {
    position: relative;
}
/* menu superior da janela */
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu-opcoes ul{
    font-size: 15px;
}
.menu-opcoes a {
    color: #003366;
}
/* menu superior ul li */
.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}
/* container para margear automaticamente */
.container {
    margin: 0 auto;
    width: 940px;
}
/* estilizando a area central da página */
.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
    float: left;
}
.menu-departamentos {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: rgb(189, 189, 189);
    margin-bottom: 2px;
    padding: 5px 10px;
}
.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.busca input {
    vertical-align: middle;
}
.busca input[type=search] {
    width: 170px;
}
.destaque {
    margin-top: 10px;
}