/*h2 ~ p { /* Isso indica que queremos selecionar todos os p que foram precedidos por algum h2 e são irmãos do subtítulo (ou seja, estão sob amesma tag pai)
   font-style: italic;
}*/

/*h2 + h3 { /* pega as propriedades que tem a mesma tag na sequencia que ta escrita (juntas) 
    font-style: italic;
}*/

/* vai pegar todos h1 da página 
h1 {
    color: blue;
}*/
/* vai pegar todos os h1 do article, incluindo de dentro da section 
article h1 {
    color: blue;
}*/

/* seletor de filho direto (>) do css 2.1 e suportado desde IE7 também */
/* vai pegar só o h1 principal, filho direto de article e não os netos 
article > h1 {
    color: blue;
}*/
/*
p {
    color: gray;
}  

p .especial {
    color: black;
}*/
/* usando o seletor de negação :not() -- ele permite escrever um seletor que pega elementos que não batem com aquela regra
/* isso diz que queremos todos os parágrafos que não tem a classe especial. A sintaxe do :not() recebve como argumento algum outro seletor simples(como classe, IDs ou tags).

p:not(.especial) {
    color: gray;
}*/
/* representa o primeiro elemento filho de li 
li:first-child { 
    color: red;
}*/
/* representa o ultimo elemento filho de li 
li:last-child {
    color: blue;
}*/
/* representa o indice do elemtento (começa no 1) 
li:nth-child(3) {
    font-family: 'Courier New', Courier, monospace;
}*/
/* representa os indices pares */
/*li:nth-child(2n){ color: green; } /*elementos pares*/
/*li:nth-child(2n+1) { color: blue; } /*elementos impares*/

/* seleciona o link no exato momento em que passamos o mouse por cima dele */
a:hover {
    background-color: brown;
}
/* seleciona todas as ancoras que tem o atributo href, ou seja, links */
a:link {
    background-color: bisque;
}
/* seleciona todos os links cujo valor do href é endereço ja visitado */
a:visited {
    background-color: #00FF00;
}
/* seleciona o link no exatmo momento em que clicamos nele */
a:active {
    background-color: blueviolet;
}
/* seleciona a primeira letra do texto p */
p:first-letter {
    font-size: 200%;
}
/* para selecionar a primeira linha(apenas com texto grande) */
p:first-line {
    font-style: italic;
}
/* seleciona a primeira parte do e insere(content) um colchetes*/
a:before {
    content: '[';
}
/* seleciona a ultima parte do e insere(content) um colchetes*/
a::after {
    content: ']';
}
/* coloca externo ao lado de todos os links externos de nossa página */
a[href^='http://']:after { /* pega todos os elementos que começam com http:// e coloca a palavra (externo) depois */
    content: ' (exeterno)';
}

div {
    border-radius: 5px;
    background-color: black;
    width: 150px;
    height: 150px;
}
.a {
    /* todas as bordas arredondadas com um raio de 15px */
    border-radius: 15px;
    background-color: black;
}
.b {
    /* borda superior esquerda e inferior direita com 5px
       borda superior direita e inferior esquerda com 20px */

    border-radius: 5px 20px;
    background-color: black;
}
.c {
    /* borda superior esquerda com 5px */
    /* borda superior direita e inferior esquerda com 20px */
    /* borda infeior direita com 50px */

    border-radius: 5px 20px 50px;
}

.d{
    /*borda superior esquerda com 5px
    borda superior direita com 20px
    borda inferior direita com 50px
    bordar inferior esquerda com 100px */
    border-radius: 5px 20px 50px 100px;
}
/* 6.7 - CSS3: text-shadow */

p {
    /* posiciona a sombra 10 de distancia para baixo e para a direita do texto original */
    text-shadow: 10px 10px red;
}
p {
    /* pode ainda receber um grau de espalhamento */
    /* posiciona a sombra 10 de distancia para baixo e para a direita do texto original e os 5px significa o grau de espalhamento */
    text-shadow: 10px 10px 5px red;
}
.duassombras {
    /*É possível até passar mais de uma sombra ao mesmo tempo para o mesmo elemento:
text-shadow: */
    text-shadow:  10px 10px 5px red, -5px -5px 4px red;
}
/* 6.8 - box-shadow */
/* sombras em qualquer elemento com box shadow e passar um terceiro valor para blur */
.boxshadow {
    box-shadow: 20px 20px 5px gray;
}

.aumentar-diminuir {
    /* Diferentemente do text-shadow, o box-shadow suporta ainda mais um valor que faz a sombra aumentar ou
    diminuir: */
    box-shadow: 20px 20px 20px 30px gray;
}

.bordainterna {
    /* Por fim, é possível usar a keyword inset para uma borda interna ao elemento: */
    box-shadow: inset 0 0 40px gray; 
}

/* gradiente linar */
.linear {
    background: linear-gradient(white, blue);
}
/* radial */
.radial {
    background: radial-gradient(white, blue);
}
/* gradiente com angulações */
.gradiente {
    background: linear-gradient(45deg, #ffbca1 0%, #cbebff 47%, #ffbca1 100%);
    transform: rotate(-10deg);
}
/* transitions */
.transition {
    background: linear-gradient(brown, blue);
    position: relative;
    top: 0;
    transition: top 2s ease;
}
.transition:hover {
    background: linear-gradient(blue, purple);
    top: 50;
    /* transform: scale(1.2); */
    transition: top 2s ease-in;
}